 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center display-4 my-4">
                    Mongo db File uploads with Grid fs </h1>
                      <form action="/upload" method="POST" enctype="multipart/form-data">
                         <div class="custom-file mb-3">
                             <input type="file" class="custom-file-input" name="file" id="file" >
                             <label for="file" class="custom-file-label">Choose File</label>
                             <input type="submit" value="Submit" class="btn btn-primary btn-block ">
                         </div>
                        </form><hr>
                      <% if(files){ %>
                          <%  files.forEach((file)=>{   %>
                            <div class="card card-body mb-3">
                                <% if(file.isImage){ %>
                                    <img src="image/<%= file.filename %>" alt="" style="height:300px; border-radius:50%;">
                                 <% } else { %>
                                     <%=  file.filename  %> 
                                  <% } %>
                               <form action="/files/<%= file._id  %>?_method=DELETE">
                                <button class="btn btn-danger btn-block mt-4">Delete</button>
                              </form>     
                            </div> 
                           <% })  %> 
                       <% } else { %> 
                         <p>No files to show</p>
                      <% } %>  
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>